## Adding a few more graphs to get a better understanding of our Research Question.

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
sns.set_style("white")
sns.set_theme(font_scale=1)

path = r'./data/processed/worldometers_snapshots_April18_to_September20.csv'
df = pd.read_csv(path)
df.head()

,Date,Country,Population,Total_Tests,Total_Cases,Total_Deaths,Total_Recovered,Serious_or_Critical,Active_Cases
0,2020-04-18,USA,331441624,3722145.0,738792.0,39014.0,68269.0,13551.0,631509.0
1,2020-04-18,India,1383048851,335123.0,16365.0,521.0,2463.0,NaN,13381.0
2,2020-04-18,Brazil,212900304,62985.0,36722.0,2361.0,14026.0,6634.0,20335.0
3,2020-04-18,Russia,145948762,1831892.0,36793.0,313.0,3057.0,8.0,33423.0
4,2020-04-18,Peru,33074060,135895.0,14420.0,348.0,6684.0,117.0,7388.0

### This plot will help answering Research questions 1 and 2